@import '/Users/User/online-zoo/assets/styles/fonts.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto';
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* navbar */

nav{
    background: #000000;
    padding: 14px;
}

.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left{
    display: flex;
    align-items: center;
    gap: 63px;
}

.nav__logo{
    position: relative;
    padding: 4px 5px;
    border: 1px solid #FFFFFF;
border-radius: 2px;
}

.nav__logo img{
    position: absolute;
    bottom: 9px;
    left: 9px;
}

.nav__logo p{
    color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  max-width: 72px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 58px;
    
}

.nav-link{
    font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}

.nav-link:hover{
    color: orange;
}



/* navbar end */

/* header content start */

.header__content{
    background: url(../../assets/images/Giant\ Panda.png) no-repeat center /cover;
    height: 390px;
}
.header__blocks{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.header__block{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-top: 86px;
}
.header__text{
    position: relative;
}
.header__text h1{
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    max-width: 500px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header__text::before{
    position: absolute;
    content: '';
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background:  linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    bottom: 8px;
    left: -73px; 
    z-index: 0;
}

.header__btn{
    font-weight: 500;
font-size: 16px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
margin-top: 76px;
color: #FFFFFF;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
border: none;
outline: none;
padding: 16px 94px;
width: max-content;
align-self: center;
}


.footer{
    background: #111115;
}

/* .top-links{
    width: max-content;
} */

.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    margin-bottom: 44px;
}

.footer-logo{
    margin-bottom: 68px;
    width: max-content;
    display: flex;
    /* width: 82px !important; */
    position: relative;
    padding: 4px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.footer-logo img{
    position: absolute;
    left: 9px;
    bottom: 9px;
}

.footer-logo p{
    font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
max-width: 72px;

text-align: center;

color: #FFFFFF;

}

.link-donate{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
padding: 16px 50px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.footer-form h4{
    font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #FFFFFF;
margin-bottom: 14px;
}

.footer-form input{
    padding: 10px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #F9804B;
}

.footer-form input::placeholder{
    font-weight: 400;
font-size: 16px;
line-height: 140%;

color: #BDBDBD;
}

.footer-form button{
    
    outline: none;
    background: #F1F3F2;
border: 1px solid #4B9200;
border-radius: 5px;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #4B9200;
padding: 6px 40px;
}

.footer-links{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-link{
    display: flex;
    /* align-items: end; */
    gap: 12px;
}

.media-img{
    padding: 5px 7px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
}

.footer-link p{
    font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
color: #FFFFFF;
}

.footer__list{
    display: flex;
    gap: 58px;
    align-self: flex-end;
}

.footer__list-link{
    font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}

.footer__list-link:hover{
    color: #F9804B;
}

.creator-info {
    
    align-self: flex-end;
}

.creator-info p{
    font-weight: 100;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
}

.social-media{
    display: flex;
    flex-direction: column;
    gap: 10px;
}